@use '../../styles/utils.module.scss' as utils;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 4rem 32px;

  @media screen and (min-width: 768) {
    padding: 6rem 5rem;
  }
}

.containerDay {
  composes: container;
  color: utils.$charcoal;
  background-color: utils.$white;
  background-image: url("../../assets/beige-paper.png");
}

.containerNight {
  composes: container;
  color: utils.$white;
  background-color: utils.$black;
  background-image: url("../../assets/black-paper.png");
}

.containerHome {
  composes: container;
  background-color: utils.$blue;
  color: utils.$yellow;
  padding: 0rem;
  background-image: url("../../assets/fabric.png");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 0;
  font-family: "Lora", serif;
  font-weight: 500;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 180px;
}
