@use '../styles/utils.module.scss' as utils;

.coverHeadings {
  text-align: center;
  color: utils.$yellow;
}

.coverTitle {
  composes: headingMega;
  composes: coverHeadings;
}

.coverSubtitle {
  composes: headingLg;
  composes: coverHeadings;
}

.coverStart {
  composes: headingMd;
  composes: coverHeadings;

  &:hover,
  &:focus,
  &:active {
    color: utils.$yellowHighlight;
  }
}
