.date {
  display: flex;
  font-weight: 300;
  font-size: 14px;
}

.passage {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  font-family: "Lora", serif;
  font-weight: 500;
  margin: 0rem 0rem 3rem;
}

.verse {
  display: flex;
  font-size: 24px;
}

.verseRef {
  display: flex;
  align-self: flex-end;
  font-style: italic;
}

.content {
  font-weight: 300;
  max-width: 600px;
  margin: 0rem 0rem 2rem;
}
